body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    background: #fff;
}

#container {
    padding: 30px;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

h1 {
    color: #0077b4;
    text-transform: capitalize;
    font-size: 24px;
}

h2 {
    background: #0077b4;
    padding: 20px;
    color: #fff;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 1px;
}

#col-right h3,
#gmc-profile-content h3 {
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    color: #6e6e6e;
    padding: 5px;
    margin-bottom: 10px;
}

h4 {
    color: #6e6e6e;
    font-weight: 300;
    margin-bottom: 10px;
}

h5 {
    margin-top: 10px;
    color: #0077b4;
}

p {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

a {
    color: #ff0000;
}

#container ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    background: #0077b4;
    color: #fff;
}

#container ul.tabs li {
    background: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

#container ul.tabs li.current {
    background: #ededed;
    color: #0077b4;
}

#container .fa-thumbs-o-up {
    color: #ff0000;
}

#container .fa-thumbs-o-down {
    color: #1f77b4;
}

.tab-content {
    display: none;
    /*background: #ededed;
    padding: 15px;*/
}

.tab-content.current {
    display: inherit;
}

#container ul {
    margin: 20px 0;
    list-style-type: square;
}

#containerul li {
    display: block;
    padding: 5px;
}

strong {
    font-weight: bold;
}

.search {
    padding: 10px 20px;
    width: 300px;
    margin: auto;
    display: block;
    text-align: center;
}

.read-more {
    background: #00689e;
    color: #fff;
    padding: 10px 15px;
    margin: 10px 0 20px 0px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}