#gmc-toolbar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: fixed;
    z-index: 99999;
    right: 20px;
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

#gmc-toolbar li,
#gmc-toolbar a {
    text-shadow: none;
}

.gmc-down {
    bottom: 0px;
}

.gmc-left {
    left: -255px;
}

#gmc-toolbar ol,
#gmc-profile ol,
#gmc-profile ul,
#gmc-toolbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#gmc-toolbar-container {
    border: 1px solid #d9d9d9;
    border-top-left-radius: 5px;
    clear: both;
}

.gmc-toolbar-label {
    color: #666666;
    float: right;
    width: 22px;
    height: 22px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    background: #fff;
}

#gmc-toolbar ul li {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
    /* IE6-9 */
}

#gmc-toolbar .gmc-scr-label {
    color: #666666;
    /*font-weight: bold;*/
    /*text-transform: uppercase;*/
    line-height: 40px;
    padding: 0 10px;
    font-size: 12px;
    border-left: 1px solid #d9d9d9;
}

#gmc-toolbar .gmc-scr-value,
#gmc-toolbar .gmc-item-score {
    line-height: 40px;
    padding: 0 10px;
    color: #666666;
    font-size: 12px;
}

#gmc-toolbar .gmc-item-score span {
    display: inline-block;
}

#gmc-toolbar .gmc-scr-value {
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
}

#gmc-toolbar .gmc-vote-down {
    height: 40px;
    width: 40px;
    border-right: 1px solid #d9d9d9;
    cursor: pointer;
}

#gmc-toolbar .gmc-vote-down:hover {
    -webkit-box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 1);
}

#gmc-toolbar .gmc-vote-up {
    height: 40px;
    width: 40px;
    border-right: 1px solid #d9d9d9;
    cursor: pointer;
}

#gmc-toolbar .fa-thumbs-o-up {
    color: #ff0000;
    line-height: 40px;
}

#gmc-toolbar .fa-thumbs-o-down {
    color: #1f77b4;
    line-height: 40px;
}

#gmc-toolbar .gmc-vote-up:hover {
    -webkit-box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 1);
}

#gmc-toolbar .gmc-profile-self {
    background: #fff url(chrome-extension://__MSG_@@extension_id__/images/profile.png) no-repeat center center;
    height: 40px;
    width: 40px;
    display: none;
    cursor: pointer;
}

#gmc-toolbar .gmc-profile-self img,
#gmc-toolbar .gmc-profile-author img {
    width: 100%;
    height: 100%;
}


/*
#gmc-toolbar .gmc-profile-self img:hover {
    -webkit-box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 1);
}*/

#gmc-toolbar .gmc-profile-author {
    background: #fff url(chrome-extension://__MSG_@@extension_id__/images/profile.png) no-repeat center center;
    height: 40px;
    width: 40px;
    display: none;
    cursor: pointer;
}

#gmc-toolbar .gmc-profile-author img {
    border-top-left-radius: 5px;
}